.note.new {
    background-color: #67d7cc;
}

textarea {
    border: none;
    resize: none;
    background-color: #67d7cc;
}

textarea:focus {
    outline: none;
}
.save {
    background-color: grey;
    border: none;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
}
.save:hover {
    background-color: #ededed;
    cursor: pointer;
}