*{
    margin: 0;

}

.note {
   background-color: whitesmoke; 
   border-radius: 10px;
   box-shadow: 3px 3px 3px 3px #ccc;
   padding: 1 rem;
   min-height: 170px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   white-space: pre-wrap;

}
.note-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button.delete {
    color: red;
    cursor: pointer;
}