body {
    background-color: ghostwhite;   
  }
  
  .login-form-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 80%;
  }
  .login-form {
    background-color: ghostwhite;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 5px 5px 1px rgb(179, 175, 175);
    height: 400px;
    padding: 20px;
    width: 350px;
  }
  
  .login-title {
    color: #303245;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 800;
    margin-top: 30px;
    text-align: center;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .c1 {
    margin-top: 40px;
  }
  
  .c2 {
    margin-top: 20px;
  }
  



  
.register-form-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
  }
  
  .form {
    background-color: ghostwhite;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 5px 5px 1px rgb(179, 175, 175);
    height: 480px;
    padding: 20px;
    width: 340px;
  }
  
  .register-title {
    color: #303245;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .subtitle {
    color: #303245;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 20px;
  }
  
  .input {
    background-color: ghostwhite;
    border-radius: 12px;
    border: 1px solid gainsboro ;
    box-sizing: border-box;
    color: rgb(17, 17, 17);
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 400ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .submit {
    background-color: #15172b;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #06b;
  }
  
  .login-link {
    color: #303245;
    padding-top: 15px;
  }
  