.settings {
  display: flex;
  margin-top: 50px;
}

.settingsWrapper {
  flex: 9;
  padding: 20px;
}

.settingsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settingsUpdateTitle {
  font-size: 30px;
  color: lightcoral;
  margin-bottom: 20px;
}

.settingsDeleteTitle {
  color: red;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

.settingsForm {
  display: flex;
  flex-direction: column;
}
.settingsProfilePicture {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.profilePicture {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.settingsProfilePictureIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: lightcoral;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.settingsForm > input {
  color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}
.settingsForm > label {
  font-size: 20px;
  margin-top: 20px;
}
.profilePictureInput {
  width: 30%;
}
.settingsUpdate {
  align-self: center;
  width: 150px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: teal;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Valera Round" sans-serif;
}

.settingsUpdate:hover {
  background-color: rgb(1, 114, 114);
}
